KAFKA_BROKER=localhost:19092
KAFKA_GROUP_ID=notifications-service
KAFKA_TOPIC_INVENTORY_RESERVED=inventory.reserved
KAFKA_TOPIC_INVENTORY_FAILED=inventory.failed

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=orders@orderflow.local
