PORT=3003

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=orderflow
POSTGRES_PASSWORD=orderflow_secret
INVENTORY_DB_NAME=inventory_db

KAFKA_BROKER=localhost:19092
KAFKA_CLIENT_ID=inventory-service
KAFKA_GROUP_ID=inventory-service
KAFKA_TOPIC_ORDER_CREATED=order.created
KAFKA_TOPIC_INVENTORY_RESERVED=inventory.reserved
KAFKA_TOPIC_INVENTORY_FAILED=inventory.failed
