# Catalog Service — corre en tu PC; Postgres está en Docker.
PORT=8000

DJANGO_SECRET_KEY=django-dev-change-me-catalog-orderflow
DJANGO_DEBUG=True

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=orderflow
POSTGRES_PASSWORD=orderflow_secret
CATALOG_DB_NAME=catalog_db

# Mismo secreto que Auth Service — así validamos sus JWT aquí
JWT_SECRET=change-me-generate-a-long-random-string
JWT_ALGORITHM=HS256
